
/*External CSS */

/*Element selctor */
header{
    margin:-10px;
    height: 80px;
    
}

  #nav_list li {
    display: inline-block;
    margin: 20px;
  }
  nav {
	position: absolute;
    margin-left: auto;
	
}
   
h1 {
    color: black;
}

p {
    color: white;
}


table ,th,td{
    border: solid black 1px;
}


/*Id selctor */
#heading {
    text-align: center;
}

.container{
    text-align: center;
}

#heading_title {
    text-align: center;
    color: white;
}
#first_name,#last_name,#email,#password,#address{
    background-color: transparent;
    font-size: small;
}

#first_name_input,#last_name_input,#email_input,#password_input,#address_input{
    background-color: white;
   
}

#first_name_box,#last_name_box,#email_box,#password_box,#address_box{
  height: 40px;
  background-color: transparent;
  text-align: center;

}


/*class selctor */

.form_container{
    background-color: white;
}

.form-background {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

footer{
    background-color: white ;
    text-align: center;
    padding-bottom: 10px; 
    margin:-10px
}

/*universal selctor */
* {
    background: #0691cd;
}

/*group selctor */
body,
h1,
p {
    background: transparent;
}