
/*External CSS */

/*Element selctor */
body {
    background-color: white;
}

h1 {
    color: azure;
}

p {
    color: white;
}

/*Id selctor */
#heading {
    text-align: center;
}

.container{
    text-align: center;
}

#heading_title {
    text-align: center;
    color: white;
}

/*class selctor */

.form_content {
    background-color: blueviolet;
}

/*universal selctor */
* {
    background: #0691cd;
}

/*group selctor */
body,
h1,
p {
    background: transparent;
}